<h1>Help</h1>

<h2>Colors configuration</h2>

<h4>Left/Right eye colors configuration</h4>
To configure properly left/right eye colors for a more production session, do the following:
<ul>
    <li>Put on your anaglyph glasses</li>
    <li>Open <a href="exercise.html" target="_blank">tetris game</a></li>
    <li>Click on the <i>Settings</i> button</li>
    <li>Click on the <i>Left/Right eye color</i> button</li>
    <li>You will see a colored recatangle and a pallete with colors gradually changing from red to blue. This palette is
        clickable, upon click on the palette the color of the colored rectangle above will change.
    </li>
    <li>Now, close your healthy eye and try to adjust the color of the colored recatangle that is above the palette, so
        it would completely match the color of a background. In other words, the colored rectangle must be visible for
        your healthy eye and almost (better completely) unvisible for your lazy eye
    </li>
    <li>
        Adjust the color for the other eye in the same manner, so it would be visible for your lazy eye and almost
        (better completely) invisible for your healthy eye
    </li>
</ul>

<h4>Coloring modes</h4>
There are two coloring modes implemented:
<ul>
    <li><i>Coloring by shapes</i> - means that each shape will be randomly (equal chances for red and blue) assigned
        a color.
    </li>
    <li><i>Coloring by cells</i> - means that each cell of the shape will be randomly assigned a color.</li>
</ul>
Coloring mode can be selected by click on <i>Settings</i>><i>Color by shapes</i>/<i>Color by cells</i>.

<h2>Board size adjustment</h2>
Board size can be changed. Even during an exercise in progress. To do so: <i>Settings</i>><i>Board size</i>

<h2>Speed level adjustment</h2>
Difficulty of the game grows gradually. It becomes faster and faster with number of cleared lines.
<ul>
    <li>Speed level can be changed - <i>Settings</i>><i>Speed level</i></li>
    <li>Speed level can be locked - it means that game won't became faster than current speed level. To do so, click on
        <i>Settings</i>><i>Speed level</i>><i>Speed level unlocked</i></i></li>
</ul>