@import '../../../consts.scss';

// TODO styles can be optimized
$modal-content-width: 80%;

.info {
    // hide scrollbar so it won't interfere with layout
    overflow: hidden;
    background-color: $base-black;
}

.info-content {
    @include default-border;
    background-color: $light-gray;
    color: $base-black;
    margin: 1vh auto;
    padding: 1vh 1vw;
    width: $modal-content-width;
}

.info-close-button {
    @extend .ui-menu-item;
    display: block;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: auto;
    margin-right: auto;
}