@import '../../../consts.scss';


@mixin menu-base-style {
    width: 60vw;
    color: $base-white;
    margin: 2vh 5vw 2vh 5vw;
    height: 5vh;
    // TODO font size is no responsive
    font-family: inherit;
    font-size: inherit;
}


.ui-menu-item {
    @include menu-base-style;

    border: 2px solid $base-white;
    background-color: $base-gray;

    &:hover { 
        background-color: $base-black;
    }
}

