@import '../../../consts.scss';

.ui-menu-item {
    width: 60vw;
    background-color: $base-gray;
    color: $base-white;
    border: 2px solid $base-white;
    margin: 2vh 5vw 2vh 5vw;
    height: 5vh;
    font-family: inherit;
    font-size: inherit;
}

.ui-menu-item:hover {
    background-color: $base-black;
}