@import '../../../consts.scss';

@mixin menu-base-style {
    @include default-color;
    width: 60vw;
    margin: 2vh 5vw 2vh 5vw;
    height: 5vh;
    font-family: 'Press Start 2P', cursive;
    font-size: calc(0.5rem + 1vw);
}


.ui-menu-item {
    @include menu-base-style;
    @include default-border;

    background-color: $base-gray;

    &:hover { 
        background-color: $base-black;
    }
}

