.action-button {
    @include default-border;
    color: $base-white;
    background-color: $base-gray;
    margin-bottom: 2vh;
    font-family: 'Press Start 2P', cursive;
    font-size: calc(0.5rem + 1vw);
}