@import '../consts.scss';

.game-container {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.action-button-row {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    opacity: 0.5;
}