@import '../consts.scss';

.game-container {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.action-button-row {
    margin-top: 1vh;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}